<article class="project-card">
  <div class="card-image">
    <img
      [src]="
        project.image ||
        defaultProjectImage
      "
      [alt]="project.title || 'Project Cover Image'"
      (error)="onProjectImageError($event)"
    />
  </div>
  <div class="card-content">
    <div class="header">
      <div class="card-tags">
        <span *ngFor="let tag of project.tags">{{ tag }}</span>
      </div>
      <h2 class="card-title">
        <a href="#">{{ project.title }}</a>
      </h2>
    </div>
    <div class="footer">
      <div class="card-meta">
        <div class="author-info">
          <div class="author-avatar">
            <img
              [src]="
                project.authorAvatar ||
                defaultAuthorAvatar
              "
              alt="Author Avatar"
              (error)="onAuthorImageError($event)"
            />
          </div>
          <span class="author-name"
            ><a href="#">{{ project.author | uppercase }}</a></span
          >
        </div>
        <span class="date">{{ project.date | uppercase }}</span>
      </div>
    </div>
  </div>
</article>
