<article class="project-card skeleton">
  <div class="card-image skeleton-block"></div>
  <div class="card-content">
    <div class="header">
      <div class="card-tags">
        <span class="skeleton-text short"></span>
        <span class="skeleton-text short"></span>
      </div>
      <h2 class="card-title">
        <div class="skeleton-text title"></div>
      </h2>
    </div>
    <div class="footer">
      <div class="card-meta">
        <div class="author-info">
          <div class="author-avatar skeleton-circle"></div>
          <span class="author-name">
            <div class="skeleton-text medium"></div>
          </span>
        </div>
        <span class="date">
            <div class="skeleton-text short"></div>
        </span>
      </div>
    </div>
  </div>
</article>
