.sidenav {
  width: 240px;
  height: 100vh;
  border-right: 1px solid #e0e0e0;

  & .tittle {
    width: 100%;
    height: 70px;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    & .title-special {
      color: #4880ff;
    }
  }

  & .nav-container {
    width: 100%;

    .nav-item-container {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      padding-left: 45px;
      cursor: pointer;
      transition: background-color 0.3s, opacity 0.3s;

      &:hover {
        background-color: #273142;
        color: #ffffff;
        opacity: 0.9;
      }

      &.active {
        background-color: #4880ff;
        color: #ffffff;
        opacity: 0.9;
      }
    }

    .icon-normal {
      font-size: 21px;
    }

    .nav-title {
      font-size: 20px;
      padding-left: 15px;
    }
  }
}
