@use "variables" as v;

.footer {
  width: 100%;
  background-color: v.$light-gray;
  display: flex;
  justify-content: center;
  align-items: center;

  .center {
    width: 1250px;
    min-height: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-top: 1px solid v.$gray-color;
    font-size: 16px;
    color: v.$black-color;

    a {
      color: v.$black-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
