<div class="post-container inner" *ngIf="article">
  <article>
    <header>
      <section>
        <time
          class="post-full-meta-date"
          data-test-label="post-full-meta-date"
          [attr.datetime]="article.createdAt | date : 'yyyy-MM-ddTHH:mm:ssXXX'"
        >
          {{ article.createdAt | date : "MMM d, y" }}
        </time>
        <!-- 注意：后续做国际化，日期也要实现 -->
      </section>
      <h1 class="post-title">{{ article.title }}</h1>
    </header>
    <div class="author-info" *ngIf="article.author">
      <section class="author-card">
        <div
          class="author-avatar"
          [style.background-image]="
            article.authorAvatar
              ? 'url(' + article.authorAvatar + ')'
              : 'url(' + defaultAvatar + ')'
          "
        ></div>
      </section>
      <section class="author-card-content">
        <p class="author-name">{{ article.author.email }}</p>
      </section>
    </div>
    <div class="img-container" *ngIf="article.coverImage || defaultCover">
      <!-- TODO:  Replace with <picture> when WebP/AVIF versions are available(响应式图片)  -->
      <img
        [ngSrc]="article.coverImage || defaultCover"
        alt="{{ article.title }}"
        priority
        width="1000"
        height="600"
      />
    </div>
    <section class="post-main-body" [innerHTML]="safeHtmlContent"></section>
  </article>
</div>
