<section class="recommended-contianer">
  <div class="center">
    <div class="header">
      <h3>
        Recommended Articles
        <span class="dash"></span>
      </h3>
      <p class="see-all" routerLink="blog">
        <span> See All Articles </span>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-you"></use>
        </svg>
      </p>
    </div>
    <div class="re-articls-contianer">
      <!-- 推荐文章数量4个 -->
      <app-reco-article></app-reco-article>
      <app-reco-article></app-reco-article>
      <app-reco-article></app-reco-article>
      <app-reco-article></app-reco-article>
    </div>
    <div class="more-articles" routerLink="blog">More Articles</div>
  </div>
</section>
