<main class="hero-contianer">
  <div class="center">
    <aside class="introduction">
      <h2>Hi, I'm Charlie, a programmer who loves life.</h2>
      <h3>
        <!-- <span>|</span> -->
        <p>
          On this blog site, I share my life, interests, hobbies, and some
          useful knowledge and skills, hoping it will be helpful to you.
        </p>
      </h3>
    </aside>
    <div class="hero-image">
      <img src="assets/images/hero-image.png" alt="" />
    </div>
  </div>
  <div class="triangle">
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-xia"></use>
    </svg>
  </div>
</main>
