<main class="hero-container">
  <div class="center">
    <section class="introduction">
      <h1>Hi, I'm Charlie, a programmer who loves life.</h1>
      <p>
        On this blog site, I share my life, interests, hobbies, and some useful
        knowledge and skills, hoping it will be helpful to you.
      </p>
    </section>
    <div class="hero-image">
      <img
        src="/assets/images/hero-image.webp"
        alt="Illustration of Charlie, a programmer"
        loading="eager"
      />
    </div>
  </div>
  <div class="triangle">
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-xia"></use>
    </svg>
  </div>
</main>
