<!-- <header class="article-form-contianer">

  <div>
    <a href=""> <span><</span> back</a>
  </div>
  <div>
    <h2>新建</h2>
    <h2>查看</h2>
    <h2>编辑</h2>
  </div>
</header>
<h2>currentMode: {{ mode }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>标题</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>正文</mat-label>
    <textarea matInput formControlName="content" rows="10"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    {{ "创建" }}
  </button>
  <button mat-raised-button color="primary" type="submit">
    {{ "更新" }}
  </button>
  <button mat-button (click)="router.navigate(['/admin/articles'])">
    取消
  </button>
</form>
 -->
