<div class="cv-contianer">
  <header>
    <div class="photo">
      <img
        src="assets/images/article-cover-image-default-small.webp"
        alt="Charlie's photo"
      />
    </div>
    <div class="info">
      <main>
        <h1>Charlie Li</h1>
        <h2>Frontend Enginer & Full-stack engineer</h2>
      </main>
      <aside>
        <p>Phone: <a href="tel:+8613712345678">+86 137 1234 5678</a></p>
        <p>
          Email:
          <a href="mailto:contact&#64;charliesmp.com"
            >contact&#64;charliesmp.com</a
          >
        </p>
        <p>Experience: 5 years</p>
        <p>Education: Bachelor’s degree</p>
        <p>Language: English & Chinese</p>
        <p>Gender: Male</p>
      </aside>
    </div>
  </header>
  <section>
    <div class="experience">
      <h2>Work Experience</h2>
      <div class="job-item">
        <div class="header">
          <span>Shanghai xx Company</span>
          <time datetime="2020-07">
            <span class="start">2023-07</span>
            <span class="dash"></span>
            <span class="end">2023-10</span>
          </time>
        </div>
        <p class="job-desc">
          In this company, I hold the position of a front-end development
          engineer full-time. Mainly responsible for the realization of the
          company's front-end functions and the advancement of projects. The
          company's main business is intelligent warehousing services.
        </p>
      </div>
      <div class="job-item">
        <div class="header">
          <span>Shanghai xx Company</span>
          <time datetime="2020-07">
            <span class="start">2023-07</span>
            <span class="dash"></span>
            <span class="end">2023-10</span>
          </time>
        </div>
        <p class="job-desc">
          In this company, I hold the position of a front-end development
          engineer full-time. Mainly responsible for the realization of the
          company's front-end functions and the advancement of projects. The
          company's main business is intelligent warehousing services.
        </p>
      </div>
      <div class="job-item">
        <div class="header">
          <span>Shanghai xx Company</span>
          <time datetime="2020-07">
            <span class="start">2023-07</span>
            <span class="dash"></span>
            <span class="end">2023-10</span>
          </time>
        </div>
        <p class="job-desc">
          In this company, I hold the position of a front-end development
          engineer full-time. Mainly responsible for the realization of the
          company's front-end functions and the advancement of projects. The
          company's main business is intelligent warehousing services.
        </p>
      </div>
      <div class="job-item">
        <div class="header">
          <span>Shanghai xx Company</span>
          <time datetime="2020-07">
            <span class="start">2023-07</span>
            <span class="dash"></span>
            <span class="end">2023-10</span>
          </time>
        </div>
        <p class="job-desc">
          In this company, I hold the position of a front-end development
          engineer full-time. Mainly responsible for the realization of the
          company's front-end functions and the advancement of projects. The
          company's main business is intelligent warehousing services.
        </p>
      </div>
    </div>
    <div class="eduction">
      <h2>Education</h2>
      <div class="edu-item">
        <div class="header">
          <span>Shanghai XX University</span>
          <time datetime="2014-09">
            <span class="start">2014-09</span>
            <span class="dash"></span>
            <span class="end">2018-06</span>
          </time>
        </div>
        <p class="edu-desc">
          Bachelor's Degree in Computer Science and Technology
        </p>
      </div>
    </div>
    <div class="skills">
      <h2>Hobbies</h2>
      <ul>
        <li>
          <span> HTML/CSS</span>
          <mat-progress-bar
            class="progress-container"
            mode="determinate"
            [value]="80"
          ></mat-progress-bar>
        </li>
        <li>
          <span>JS/TS</span
          ><mat-progress-bar
            class="progress-container"
            mode="determinate"
            [value]="60"
          ></mat-progress-bar>
        </li>
        <li>
          <span>Angular</span
          ><mat-progress-bar
            class="progress-container"
            mode="determinate"
            [value]="60"
          ></mat-progress-bar>
        </li>
        <li>
          <span>React</span
          ><mat-progress-bar
            class="progress-container"
            mode="determinate"
            [value]="50"
          ></mat-progress-bar>
        </li>
        <li>
          <span>Node</span
          ><mat-progress-bar
            class="progress-container"
            mode="determinate"
            [value]="50"
          ></mat-progress-bar>
        </li>
        <li>
          <span>Nest.js</span
          ><mat-progress-bar
            class="progress-container"
            mode="determinate"
            [value]="60"
          ></mat-progress-bar>
        </li>
        <li>
          <span>PostgreSQL</span
          ><mat-progress-bar
            class="progress-container"
            mode="determinate"
            [value]="50"
          ></mat-progress-bar>
        </li>
      </ul>
    </div>
    <div class="hobbies">
      <h2>Hobbies</h2>
      <ul>
        <li>
          <p>
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-youyong"></use>
            </svg>
          </p>
          <span>Swimming</span>
        </li>
        <li>
          <p>
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-jiashi"></use>
            </svg>
          </p>
          <span>Driving</span>
        </li>
        <li>
          <p>
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-xiuli"></use>
            </svg>
          </p>
          <span>Repairing</span>
        </li>
        <li>
          <p>
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-lvhang"></use>
            </svg>
          </p>
          <span>Travel</span>
        </li>
      </ul>
    </div>
  </section>
</div>
