<div class="cv-contianer">
  <header>
    <div class="photo">
      <img src="/assets/images/resume-photo.jpg" alt="Charlie's photo" />
    </div>
    <div class="info">
      <main>
        <h1>Charlie Li</h1>
        <h2>Frontend Engineer & Full-stack Developer</h2>
      </main>
      <aside>
        <div class="info-row full-width">
          <p>
            Email:
            <a href="mailto:contact@charliesmp.com"
              >contact&#64;charliesmp.com</a
            >
          </p>
        </div>
        <div class="info-row full-width">
          <p>
            LinkedIn:
            <a
              href="https://www.linkedin.com/in/charlieli-a-developer"
              target="_blank"
              >linkedin.com/in/charlieli-a-developer</a
            >
          </p>
        </div>

        <!-- 第二行：左右两列 -->
        <div class="info-row">
          <div>Experience: 5 years</div>
          <div>Education: Bachelor’s degree</div>
        </div>

        <!-- 第三行：左右两列 -->
        <div class="info-row">
          <div>Language: English & Chinese</div>
          <div>Gender: Male</div>
        </div>
      </aside>
    </div>
  </header>
  <section>
    <div class="experience">
      <h2>Work Experience</h2>
      <div class="job-item">
        <div class="header">
          <span>Shanghai xx Company</span>
          <time datetime="2020-07">
            <span class="start">2023-07</span>
            <span class="dash"></span>
            <span class="end">2023-10</span>
          </time>
        </div>
        <p class="job-desc">
          In this company, I hold the position of a front-end development
          engineer full-time. Mainly responsible for the realization of the
          company's front-end functions and the advancement of projects. The
          company's main business is intelligent warehousing services.
        </p>
      </div>
      <div class="job-item">
        <div class="header">
          <span>Shanghai xx Company</span>
          <time datetime="2020-07">
            <span class="start">2023-07</span>
            <span class="dash"></span>
            <span class="end">2023-10</span>
          </time>
        </div>
        <p class="job-desc">
          In this company, I hold the position of a front-end development
          engineer full-time. Mainly responsible for the realization of the
          company's front-end functions and the advancement of projects. The
          company's main business is intelligent warehousing services.
        </p>
      </div>
      <div class="job-item">
        <div class="header">
          <span>Shanghai xx Company</span>
          <time datetime="2020-07">
            <span class="start">2023-07</span>
            <span class="dash"></span>
            <span class="end">2023-10</span>
          </time>
        </div>
        <p class="job-desc">
          In this company, I hold the position of a front-end development
          engineer full-time. Mainly responsible for the realization of the
          company's front-end functions and the advancement of projects. The
          company's main business is intelligent warehousing services.
        </p>
      </div>
      <div class="job-item">
        <div class="header">
          <span>Shanghai xx Company</span>
          <time datetime="2020-07">
            <span class="start">2023-07</span>
            <span class="dash"></span>
            <span class="end">2023-10</span>
          </time>
        </div>
        <p class="job-desc">
          In this company, I hold the position of a front-end development
          engineer full-time. Mainly responsible for the realization of the
          company's front-end functions and the advancement of projects. The
          company's main business is intelligent warehousing services.
        </p>
      </div>
    </div>
    <div class="eduction">
      <h2>Education</h2>
      <div class="edu-item">
        <div class="header">
          <span>Shanghai Jian Qiao University</span>
          <time datetime="2014-09">
            <span class="start">2014-09</span>
            <span class="dash"></span>
            <span class="end">2018-06</span>
          </time>
        </div>
        <p class="edu-desc">Bachelor’s Degree in Software Engineering</p>
      </div>
    </div>
    <div class="skills">
      <h2>SKILLS</h2>
      <ul>
        <li>
          <span> HTML/CSS</span>
          <mat-progress-bar
            class="progress-container"
            mode="determinate"
            [value]="80"
          ></mat-progress-bar>
        </li>
        <li>
          <span>JS/TS</span
          ><mat-progress-bar
            class="progress-container"
            mode="determinate"
            [value]="60"
          ></mat-progress-bar>
        </li>
        <li>
          <span>Angular</span
          ><mat-progress-bar
            class="progress-container"
            mode="determinate"
            [value]="60"
          ></mat-progress-bar>
        </li>
        <li>
          <span>React</span
          ><mat-progress-bar
            class="progress-container"
            mode="determinate"
            [value]="50"
          ></mat-progress-bar>
        </li>
        <li>
          <span>Node</span
          ><mat-progress-bar
            class="progress-container"
            mode="determinate"
            [value]="50"
          ></mat-progress-bar>
        </li>
        <li>
          <span>Nest.js</span
          ><mat-progress-bar
            class="progress-container"
            mode="determinate"
            [value]="60"
          ></mat-progress-bar>
        </li>
        <li>
          <span>PostgreSQL</span
          ><mat-progress-bar
            class="progress-container"
            mode="determinate"
            [value]="50"
          ></mat-progress-bar>
        </li>
      </ul>
    </div>
    <div class="hobbies">
      <h2>Hobbies</h2>
      <ul>
        <li>
          <p>
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-youyong"></use>
            </svg>
          </p>
          <span>Swimming</span>
        </li>
        <li>
          <p>
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-jiashi"></use>
            </svg>
          </p>
          <span>Driving</span>
        </li>
        <li>
          <p>
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-xiuli"></use>
            </svg>
          </p>
          <span>Repairing</span>
        </li>
        <li>
          <p>
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-lvhang"></use>
            </svg>
          </p>
          <span>Traveling</span>
        </li>
      </ul>
    </div>
  </section>
</div>
