<div class="article-item">
  <div class="article-info">
    <div class="img-container">
      <img src="assets/images/article-cover-image-default-small.webp" alt="" />
    </div>
    <!-- <h3>Fundamental of javascript</h3> -->
    <!-- <h3>Grid CSS make your life easier</h3> -->
    <!-- <h3>Make tic tac toe games with react JS</h3> -->
    <h3>Make animated light mode and dark mode toggle with CSS</h3>
  </div>
  <div class="author-area">
    <div class="avatar">
      <img src="assets/images/default-avatar.png" alt="" />
    </div>
    <div class="author-info">
      <p class="author-name">Author Name</p>
      <p class="article-info">
        <span>Jan 10, 2022. </span>
        <span>Read 20 times</span>
      </p>
    </div>
  </div>
</div>
