.table-search-container {
  & .filter-form {
    /*  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px; */

    & .form-actions {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
    }
  }
  & .action-buttons {
    padding: 20px 0;
    display: flex;
    gap: 10px;
  }
}
