<!-- article-form-page.component.html -->
<div class="page">
  <mat-toolbar class="toolbar" color="default">
    <button mat-stroked-button class="back" (click)="goList($event)">
      <mat-icon>arrow_back</mat-icon>
      返回
    </button>
    <span class="title">
      {{
        mode === "create"
          ? "新建文章"
          : mode === "edit"
          ? "编辑文章"
          : "查看文章"
      }}
    </span>
  </mat-toolbar>

  <!-- 中部表单 -->
  <div class="content" [class.readonly]="mode === 'view'">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-grid">
      <!-- id（只读显示） -->
      <mat-form-field appearance="outline" *ngIf="mode !== 'create'">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id" readonly />
      </mat-form-field>

      <!-- 标题 -->
      <mat-form-field appearance="outline" class="span-2">
        <mat-label>标题</mat-label>
        <input matInput formControlName="title" required />
        <mat-error
          *ngIf="form.get('title')?.touched && form.get('title')?.invalid"
        >
          请输入标题
        </mat-error>
      </mat-form-field>

      <div class="cover-row span-2">
        <app-cover-image-upload
          [coverImageKey]="form.value.coverImage"
          (coverImageChange)="onCoverImageChange($event)"
        ></app-cover-image-upload>
      </div>

      <!-- slug -->
      <mat-form-field appearance="outline" class="span-2">
        <mat-label>Slug（SEO URL）</mat-label>
        <input
          matInput
          formControlName="slug"
          placeholder="例如 my-first-blog"
        />
      </mat-form-field>

      <!-- 内容 -->
      <!-- <mat-form-field appearance="outline" class="span-2">
        <mat-label>内容</mat-label>
        <textarea id="markdown-editor"></textarea>
      </mat-form-field> -->
      <div class="span-2 article-content-area">
        <!-- 文章编辑 -->
        <div class="markdown-editor">
          <h3>Markdown编辑区</h3>
          <textarea formControlName="content" class="edit-area"></textarea>
        </div>
        <!-- 内容预览 -->
        <div class="markdown-preview">
          <h3>内容预览</h3>
          <div class="view-area">
            <div [innerHtml]="form.get('content')?.value || ''"></div>
          </div>
        </div>
      </div>

      <!-- 标签 chips -->
      <div class="chips-row span-2">
        <mat-form-field appearance="outline" class="span">
          <mat-label>Tags (逗号分隔)</mat-label>
          <input matInput formControlName="tags" />
        </mat-form-field>
      </div>

      <!-- 发布状态 -->
      <mat-slide-toggle color="primary" formControlName="isPublished">
        是否发布
      </mat-slide-toggle>

      <!-- 只读信息 -->
      <mat-form-field appearance="outline" *ngIf="mode !== 'create'">
        <mat-label>阅读次数</mat-label>
        <input matInput formControlName="viewCount" />
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="mode !== 'create'">
        <mat-label>创建时间</mat-label>
        <input
          matInput
          [value]="form.value.createdAt | date : 'yyyy-MM-dd HH:mm'"
          disabled
        />
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="mode !== 'create'">
        <mat-label>更新时间</mat-label>
        <input
          matInput
          [value]="form.value.updatedAt | date : 'yyyy-MM-dd HH:mm'"
          disabled
        />
      </mat-form-field>
    </form>
  </div>

  <!-- 底部操作 -->
  <div class="footer">
    <button mat-stroked-button (click)="goList($event)">取消</button>
    <button
      *ngIf="mode !== 'view'"
      color="primary"
      mat-raised-button
      (click)="onSubmit()"
      [disabled]="form.invalid"
    >
      确定
    </button>
  </div>
</div>
