$blue-color: #6246ea;
$white-color: #fffffe;
$black-color: #2b2c34;
$dark-gray: #9a9494;
$gray-color: #c0c0c0;
$light-gray: #e4e5e9;
$background-color: #e5e5e5;
$blue-color-dark: #001858;
$blue-color-light: #6246ea;
